.datelimit {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-s);
  border: 1px solid var(--accent-2);
  padding: 8px 12px;
  width: min-content;
  justify-self: center;
  cursor: pointer;
  color: var(--text-dimmed);
  height: 36px;
  gap: 8px;
}
.transfered {
  display: flex;
  flex-direction: row;
  gap: var(--p4);
}
.logout {
  display: flex;
  flex-direction: row;
  gap: var(--p4);
  justify-content: flex-end;
}
.transfered .unit p {
  font-weight: 800;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.downstream {
  background: -webkit-linear-gradient(0deg, #04B7FE, #6EFFBF);
}
.upstream {
  background: -webkit-linear-gradient(0deg, #7855D3, #FA71F3);
}
.timeline {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px);
  cursor: crosshair;
}
.content {
  display: flex;
  position: relative;
  margin-top: 24px;
}

.controls {
  position: fixed;
  bottom: 16px;
  z-index: 3;
  padding-left: 16px;
  display: flex;
  gap: 8px;
}
.notes {
  position: absolute;
}
.cm_title {
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.filter {
  will-change: width;
  transition: width 0.3s var(--transition);
  width: 36px !important;
  overflow: hidden !important;
  padding: 7px !important;
}
.filter:hover {
  width: 256px !important;
}
.filter svg {
  min-width: 20px;
}
.menu > div {
  gap: 8px;
}
.menu > div > button {
  width: 100% !important;
  justify-content: flex-start;
}
.stats {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 8px;
}
.stats > button {
  flex: 1;
}
.separator {
  flex: 1;
  height: 100%;
}
