.table {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 1px;
}
.entity {
  width: 100%;
}
.entity .header {
  width: 100%;
  justify-content: flex-start;
  background: var(--background-100);
  border: 1px solid var(--gray-400);
}
.entity .body {
  transition: all 0.3s var(--transition);
}
.source {
  margin-left: 32px;
  width: calc(100% - 48px);
}
.source .header {
  border-radius: 0;
  border-top: none;
}
.source .body {
  min-height: 400px;
  margin-left: 32px;
  width: calc(100% - 48px);
  border: 1px solid var(--gray-400);
  border-top: none;
  background: var(--background-100);
  position: relative;
}
.source .body::after {
  content: '';
  position: absolute;
  width: 100%;
  /* background: red; */
  height: 1px;
}
.context .entity:last-child .header,
.source.expanded .header,
.source .body {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.entity:not(.expanded) .body {
  height: 0px;
}
.context .source.expanded:not(:first-child) .header {
  border: 1px solid var(--gray-400);
  border-radius: 6px;
}
