.navigator {
  min-height: 128px;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--gray-400);
  background-color: var(--soft-black);
}
.heading {
  height: 24px;
  width: 100%;
}
.heading button,
.ws_edit {
  width: 24px;
  padding: 2px;
  border-radius: 3px;
  flex-shrink: 0;
}
.filter {
  height: 24px;
  min-height: unset;
  padding: 5px;
  border-radius: 3px;
  gap: 4px;
}
.filter svg {
  height: 12px;
  width: 12px;
}
.filter input {
  font-size: 12px;
  color: var(--white);
}
.ws {
  font-size: 11px;
  font-weight: 400;
  gap: 6px !important;
  flex-shrink: 0;
  width: unset !important;
  padding: 6px !important;
  border: 1px solid;
}
.ws:hover {
  background-color: var(--green-700);
}
.ws_opened {
  background-color: var(--green-700);
  border-color: var(--green-400);
  color: var(--green-1000);
}
.ws_closed {
  background-color: var(--red-700);
  border-color: var(--red-400);
  color: var(--red-1000);
}
.ws_edit {
  width: unset !important;
  font-size: 11px;
  font-weight: 400;
  color: var(--green-1000);
  background: var(--green-700);
  gap: 6px;
  height: 20px;
}
.goto p {
  font-family: var(--font-mono);
}