.wrapper {
  z-index: 1;
}
.resize {
  position: absolute;
  left: 0px;
  pointer-events: none;
  z-index: 4;
}
.shifted {
  cursor: pointer;
}
.wrapper:hover .position {
  position: absolute;
  font-size: 10px;
  font-weight: 600;
  text-shadow: 0px 0px 2px var(--meta-black);
  transform: translate(16px, -16px);
  left: -256px;
  z-index: 5;
  top: -256px;
}