.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--round);
  border: 1px solid transparent;
  height: 20px;
  padding: 2px 8px;
  font-size: 11px;
  font-family: var(--font-mono);
  font-weight: 400;
  transition: background-color 0.2s;
  outline: none;
}

.badge:focus {
  box-shadow: var(--ring);
}

.default {
  background-color: var(--white);
  color: var(--black);
}

.default:hover {
  box-shadow: var(--ring);
}

.secondary {
  background-color: var(--text-dimmed);
  color: var(--black);
}

.secondary:hover {
  background-color: var(--white);
  color: var(--black);
}

.destructive {
  background-color: var(--destructive);
  color: var(--destructive-foreground);
}

.destructive:hover {
  background-color: var(--destructive-hover);
}

.outline {
  border: var(--geist-border);
  background: var(--geist-background);
}
