.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: var(--border-s);
  font-size: 0.875rem;
  cursor: pointer;
  font-weight: 500;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: var(--transition);
  outline: none;
  gap: 8px
}

.button img {
  height: 20px;
  width: 20px;
}

.default {
  background-color: var(--white);
  color: var(--black);
}
.default:hover {
  background-color: var(--white);
}
.default img {
  filter: var(--filter-to-black);
}

.destructive {
  background-color: #ef4444;
  color: #f1f5f9;
}
.destructive:hover {
  background-color: rgba(239, 68, 68, 0.9);
}

.outline {
  border: var(--geist-border);
  background: none;
  color: var(--text-dimmed);
}
.outline:hover {
  border: 1px solid var(--white);
  color: var(--white);
}
.outline img {
  filter: var(--filter-to-e8e8e8);
}
.outline:hover img {
  filter: var(--filter-to-white);
}

.hardline {
  border: 1px solid var(--white);
  color: var(--white);
}
.hardline img {
  filter: var(--filter-to-white);
}

.secondary {
  background-color: var(--gray16);
  color: var(--white);
}
.secondary:hover {
  background-color: var(--gray16);
}

.ghost {
  background: none;
  color: var(--text-dimmed);
}
.ghost img {
  filter: var(--filter-to-e8e8e8);
}
.ghost:hover {
  background-color: var(--gray16);
  color: var(--white);
}
.ghost:hover img {
  filter: var(--filter-to-white);
}

.link {
  color: var(--white);
  text-decoration-thickness: 4px;
}
.link:hover {
  text-decoration: underline;
}

.disabled {
  background: none;
  cursor: default;
  border: 1px solid transparent;
  pointer-events: none;
  color: var(--text-dimmed);
}
.disabled img {
  filter: var(--filter-to-e8e8e8);
}

.defaultSize {
  height: 36px;
  padding: 0 12px;
}
.sm {
  height: 24px;
  padding: 0 12px;
}
.lg {
  height: 48px;
  border-radius: var(--border-m);
  font-size: 16px;
  padding: 0 16px;
}
.icon {
  height: 36px;
  width: 36px;
  min-width: 36px;
}
.withImage {
  padding: 0 12px 0 8px;
}
.lg.withImage {
  padding: 0 16px 0 12px;
}
.revert {
  padding: 0 8px 0 12px;
  flex-direction: row-reverse;
}
.lg.revert {
  padding: 0 12px 0 16px;
}
.loading {
  pointer-events: none;
}
.loading > img {
  height: 16px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotateZ(1turn);
  }
}