.dialog::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #00000096;
  z-index: -1;
  pointer-events: all;
}
.dialog {
  position: fixed;
  top: 0;
  padding: var(--card-padding);
  display: flex;
  background: var(--soft-black);
  right: 0;
  width: 50vw;
  height: 100vh;
  border-left: 1px solid var(--accent-3);
  z-index: 50;
  flex-direction: column;
  gap: var(--card-gap);
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  gap: var(--card-gap);
}
.wrapper > img,
.wrapper > svg {
  border-radius: var(--round);
  min-width: 36px;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  gap: 2px;
  text-align: center;
  width: calc(100% - 48px);
  min-height: 36px;
  align-items: flex-start;
  justify-content: center;
}

.header > h2 {
  font-size: 18px;
  max-width: calc(100% - 36px - 8px);
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--white);
}

.header > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 36px - 8px);
  font-size: 14px;
  color: var(--text-dimmed);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}
.content {
  width: calc(100% + 14px);
  overflow: hidden;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  border-radius: 6px;
}

.content {
  overflow: hidden;
  overflow-y: auto;
}
.content::-webkit-scrollbar {
  width: 8px;
  position: absolute;
}
.content::-webkit-scrollbar-track {
  background-color: #242424;
  border-radius: 10px;
}
.content::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}