.note {
  position: absolute;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--geist-border);
  background: var(--geist-background);
  backdrop-filter: brightness(0.6) blur(3px);
  border-radius: 4px;
  transform: translate(-50%, calc(-50% + 48px));
}
.note img {
  position: relative;
  top: -2px;
}
.note hr {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 32px;
  border-radius: 0px 0px 4px 4px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 256px;
  gap: 8px;
  font-size: 14px;
  font-weight: 200;
}
.tag * {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 256px;
  white-space: nowrap;
}
.general {
  display: flex;
  gap: 8px;
  flex-direction: column;
  min-width: 256px;
}
.general div {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
  align-items: flex-start;
  font-family: var(--font-mono);
  font-size: 14px;
  font-weight: 200;
}
.general svg {
  height: 24px;
  width: 24px;
  min-height: 24px;
  min-width: 24px;
  padding: 4px;
  background: var(--soft-black);
  border-radius: 4px;
  box-shadow: var(--shadow-menu);
}
.general span {
  flex: 1 1;
  height: 24px;
  line-height: 24px;
}
.general p {
  white-space: normal;
  word-break: break-all;
  max-width: 80%;
  max-height: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  background: var(--geist-background);
  backdrop-filter: brightness(0.25) blur(5px);
  border: var(--geist-border);
}
.buttons {
  display: flex;
  gap: var(--card-gap);
}
.copy {
  flex: 1;
}
.open_event {
  width: 100%;
}
.__copy {
  position: absolute;
  top: 32px;
  cursor: pointer !important;
}