.root {
  overflow: hidden;
  background-color: var(--meta-black);
  border: 1px solid var(--accent-2);
  border-radius: var(--round);
  height: 12px;
  flex: 1;
}

.bar {
  height: 100%;
  transition: width .125s var(--transition);
  background-color: var(--white);
  border-radius: var(--round);
  position: relative;
}

.label {
  position: absolute;
  width: 100%;
  text-align: center;
  color: var(--meta-black);
  font-family: var(--font-mono);
  font-weight: 800;
  text-rendering: optimizeLegibility;
  font-size: 10px;
  line-height: 10.75px;
}
