.switch {
  display: inline-flex;
  height: 26px;
  width: 44px;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  border-radius: var(--round);
  border: 2px solid transparent;
  border-width: 2px;
  box-shadow: var(--shadow-border);
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--meta-black);
}

.switch:focus-visible {
  outline: none;
  box-shadow: var(--ring);
}

.switch:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.switch[data-state="checked"] {
  background-color: var(--gray16);
}

.switch[data-state="unchecked"] {
  background-color: var(--soft-black);
}

.thumb {
  pointer-events: none;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: var(--round);
  background-color: var(--white);
  border: var(--geist-border);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb[data-state="checked"] {
  transform: translateX(20px);
}

.thumb[data-state="unchecked"] {
  transform: translateX(0);
}
