.content {
  margin-top: 0.5rem;
}

.content:focus-visible {
  outline: var(--ring);
}

.trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 0.125rem;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.trigger:focus-visible {
  outline: var(--ring);
}

.trigger:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.trigger[data-state="active"] {
  background-color: var(--white);
  color: var(--black);
}
.list {
  display: inline-flex;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: var(--soft-black);
  border: 1px solid var(--accent-3);
  position: relative;
  padding: 0.25rem;
  color: var(--text-dimmed);
}
