.content {
  margin-top: 8px;
  overflow: hidden;
  border-radius: 6px;
}

.content:focus-visible {
  outline: var(--ring);
}

.trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 6px;
  height: 100%;
  padding: 0px 8px;
  color: var(--gray-800);
  cursor: pointer;
  transition: all 0.25s var(--transition);
}

.trigger:focus-visible {
  outline: var(--ring);
}

.trigger:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.trigger[data-state="active"] {
  background: var(--geist-background);
  color: var(--gray-1000);
  border: var(--geist-border);
}
.list {
  display: inline-flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: var(--background-100);
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--gray-400);
  color: var(--gray-900);
}
