.toggle p {
  font-family: var(--font-mono);
  font-size: 11px;
  line-height: 1.35;
  flex: 1;
  color: var(--second);
  transition: all 0.125s var(--transition);
}

.toggle p:first-child {
  text-align: right;
}

.toggle p:last-child {
  text-align: left;
}

.toggle p.selected {
  font-weight: 500;
  color: var(--accent);
}