:root[data-theme='classic-light'] {
    --theme-mode: light;
    --gray-100-value: 0, 0%, 95%;
    --gray-200-value: 0, 0%, 92%;
    --gray-300-value: 0, 0%, 90%;
    --gray-400-value: 0, 0%, 92%;
    --gray-500-value: 0, 0%, 79%;
    --gray-600-value: 0, 0%, 66%;
    --gray-700-value: 0, 0%, 56%;
    --gray-800-value: 0, 0%, 49%;
    --gray-900-value: 0, 0%, 40%;
    --gray-1000-value: 0, 0%, 9%;
    --blue-100-value: 212, 100%, 97%;
    --blue-200-value: 210, 100%, 96%;
    --blue-300-value: 210, 100%, 94%;
    --blue-400-value: 209, 100%, 90%;
    --blue-500-value: 209, 100%, 80%;
    --blue-600-value: 208, 100%, 66%;
    --blue-700-value: 212, 100%, 48%;
    --blue-800-value: 212, 100%, 41%;
    --blue-900-value: 211, 100%, 42%;
    --blue-1000-value: 211, 100%, 15%;
    --red-100-value: 0, 100%, 97%;
    --red-200-value: 0, 100%, 96%;
    --red-300-value: 0, 100%, 95%;
    --red-400-value: 0, 90%, 92%;
    --red-500-value: 0, 82%, 85%;
    --red-600-value: 359, 90%, 71%;
    --red-700-value: 358, 75%, 59%;
    --red-800-value: 358, 70%, 52%;
    --red-900-value: 358, 66%, 48%;
    --red-1000-value: 355, 49%, 15%;
    --amber-100-value: 39, 100%, 95%;
    --amber-200-value: 44, 100%, 92%;
    --amber-300-value: 43, 96%, 90%;
    --amber-400-value: 42, 100%, 78%;
    --amber-500-value: 38, 100%, 71%;
    --amber-600-value: 36, 90%, 62%;
    --amber-700-value: 39, 100%, 57%;
    --amber-800-value: 35, 100%, 52%;
    --amber-900-value: 34, 94%, 32%;
    --amber-1000-value: 32, 82%, 17%;
    --green-100-value: 120, 60%, 96%;
    --green-200-value: 120, 60%, 95%;
    --green-300-value: 120, 60%, 91%;
    --green-400-value: 122, 60%, 86%;
    --green-500-value: 124, 60%, 75%;
    --green-600-value: 125, 60%, 64%;
    --green-700-value: 131, 41%, 46%;
    --green-800-value: 132, 43%, 39%;
    --green-900-value: 133, 50%, 32%;
    --green-1000-value: 128, 29%, 15%;
    --teal-100-value: 169, 70%, 96%;
    --teal-200-value: 167, 70%, 94%;
    --teal-300-value: 168, 70%, 90%;
    --teal-400-value: 170, 70%, 85%;
    --teal-500-value: 170, 70%, 72%;
    --teal-600-value: 170, 70%, 57%;
    --teal-700-value: 173, 80%, 36%;
    --teal-800-value: 173, 83%, 30%;
    --teal-900-value: 174, 91%, 25%;
    --teal-1000-value: 171, 80%, 13%;
    --purple-100-value: 276, 100%, 97%;
    --purple-200-value: 277, 87%, 97%;
    --purple-300-value: 274, 78%, 95%;
    --purple-400-value: 276, 71%, 92%;
    --purple-500-value: 274, 70%, 82%;
    --purple-600-value: 273, 72%, 73%;
    --purple-700-value: 272, 51%, 54%;
    --purple-800-value: 272, 47%, 45%;
    --purple-900-value: 274, 71%, 43%;
    --purple-1000-value: 276, 100%, 15%;
    --pink-100-value: 330, 100%, 96%;
    --pink-200-value: 340, 90%, 96%;
    --pink-300-value: 340, 82%, 94%;
    --pink-400-value: 341, 76%, 91%;
    --pink-500-value: 340, 75%, 84%;
    --pink-600-value: 341, 75%, 73%;
    --pink-700-value: 336, 80%, 58%;
    --pink-800-value: 336, 74%, 51%;
    --pink-900-value: 336, 65%, 45%;
    --pink-1000-value: 333, 74%, 15%;
    --gray-alpha-100: rgba(0, 0, 0, 0.05);
    --gray-alpha-200: hsla(0, 0%, 0%, 0.081);
    --gray-alpha-300: hsla(0, 0%, 0%, 0.1);
    --gray-alpha-400: hsla(0, 0%, 0%, 0.08);
    --gray-alpha-500: hsla(0, 0%, 0%, 0.21);
    --gray-alpha-600: hsla(0, 0%, 0%, 0.34);
    --gray-alpha-700: hsla(0, 0%, 0%, 0.44);
    --gray-alpha-800: hsla(0, 0%, 0%, 0.51);
    --gray-alpha-900: hsla(0, 0%, 0%, 0.61);
    --gray-alpha-1000: hsla(0, 0%, 0%, 0.91);

    --background-100: #f0f0f0;
    --background-200: #fff;

    --disabled: opacity(0.5);
    --geist-background: radial-gradient(100% 100% at 50% 0, #ffffff47 0, #ffffff61 100%), linear-gradient(103.94deg, #0000004f 7.66%, #00000029 32.57%, #0000004d 72.45%, #00000029 96.25%);
    --modal-overlay: rgba(240, 240, 240, 0.94);
}