/* Dracula */
:root[data-theme="dracula-dark"] {
    --theme-mode: dark;
    --gray-100-value: 231, 15%, 11%;
    --gray-200-value: 231, 15%, 14%;
    --gray-300-value: 231, 15%, 18%;
    --gray-400-value: 231, 14%, 21%;
    --gray-500-value: 231, 14%, 31%;
    --gray-600-value: 225, 27%, 44%;
    --gray-700-value: 225, 27%, 51%;
    --gray-800-value: 225, 20%, 46%;
    --gray-900-value: 225, 20%, 65%;
    --gray-1000-value: 60, 30%, 96%;
    --blue-100-value: 191, 60%, 10%;
    --blue-200-value: 191, 70%, 13%;
    --blue-300-value: 191, 80%, 17%;
    --blue-400-value: 191, 85%, 22%;
    --blue-500-value: 191, 90%, 30%;
    --blue-600-value: 191, 97%, 50%;
    --blue-700-value: 191, 97%, 65%;
    --blue-800-value: 191, 90%, 43%;
    --blue-900-value: 191, 97%, 77%;
    --blue-1000-value: 191, 80%, 93%;
    --red-100-value: 0, 40%, 11%;
    --red-200-value: 0, 55%, 16%;
    --red-300-value: 0, 65%, 21%;
    --red-400-value: 0, 75%, 26%;
    --red-500-value: 0, 85%, 33%;
    --red-600-value: 0, 95%, 52%;
    --red-700-value: 0, 100%, 67%;
    --red-800-value: 0, 90%, 55%;
    --red-900-value: 0, 100%, 72%;
    --red-1000-value: 0, 90%, 93%;
    --amber-100-value: 35, 60%, 9%;
    --amber-200-value: 35, 70%, 12%;
    --amber-300-value: 35, 80%, 17%;
    --amber-400-value: 35, 88%, 22%;
    --amber-500-value: 35, 92%, 28%;
    --amber-600-value: 31, 100%, 55%;
    --amber-700-value: 31, 100%, 71%;
    --amber-800-value: 31, 95%, 58%;
    --amber-900-value: 31, 100%, 78%;
    --amber-1000-value: 35, 92%, 94%;
    --green-100-value: 135, 40%, 9%;
    --green-200-value: 135, 55%, 12%;
    --green-300-value: 135, 65%, 15%;
    --green-400-value: 135, 75%, 19%;
    --green-500-value: 135, 85%, 26%;
    --green-600-value: 135, 92%, 42%;
    --green-700-value: 135, 94%, 55%;
    --green-800-value: 135, 88%, 45%;
    --green-900-value: 135, 94%, 65%;
    --green-1000-value: 135, 70%, 93%;
    --teal-100-value: 191, 50%, 8%;
    --teal-200-value: 191, 60%, 11%;
    --teal-300-value: 191, 70%, 15%;
    --teal-400-value: 191, 80%, 17%;
    --teal-500-value: 191, 88%, 24%;
    --teal-600-value: 191, 92%, 35%;
    --teal-700-value: 191, 97%, 45%;
    --teal-800-value: 191, 88%, 38%;
    --teal-900-value: 191, 97%, 57%;
    --teal-1000-value: 191, 70%, 93%;
    --purple-100-value: 265, 30%, 11%;
    --purple-200-value: 265, 38%, 15%;
    --purple-300-value: 265, 45%, 20%;
    --purple-400-value: 265, 52%, 25%;
    --purple-500-value: 265, 60%, 33%;
    --purple-600-value: 265, 75%, 58%;
    --purple-700-value: 265, 89%, 70%;
    --purple-800-value: 265, 80%, 58%;
    --purple-900-value: 265, 89%, 78%;
    --purple-1000-value: 265, 70%, 95%;
    --pink-100-value: 326, 30%, 11%;
    --pink-200-value: 326, 42%, 15%;
    --pink-300-value: 326, 52%, 19%;
    --pink-400-value: 326, 60%, 24%;
    --pink-500-value: 326, 68%, 30%;
    --pink-600-value: 326, 85%, 53%;
    --pink-700-value: 326, 100%, 65%;
    --pink-800-value: 326, 92%, 55%;
    --pink-900-value: 326, 100%, 74%;
    --pink-1000-value: 326, 80%, 94%;
    --gray-alpha-100: hsla(231, 15%, 100%, .06);
    --gray-alpha-200: hsla(231, 15%, 100%, .09);
    --gray-alpha-300: hsla(231, 15%, 100%, .13);
    --gray-alpha-400: hsla(231, 15%, 100%, .14);
    --gray-alpha-500: hsla(231, 15%, 100%, .24);
    --gray-alpha-600: hsla(231, 15%, 100%, .51);
    --gray-alpha-700: hsla(231, 15%, 100%, .54);
    --gray-alpha-800: hsla(231, 15%, 100%, .47);
    --gray-alpha-900: hsla(231, 15%, 100%, .61);
    --gray-alpha-1000: hsla(231, 15%, 100%, .92);

    --background-100: #21222c;
    --background-200: #282a36;

    --disabled: brightness(0.75);
    --geist-background: radial-gradient(100% 100% at 50% 0, hsla(265, 89%, 78%, .12) 0, hsla(265, 89%, 78%, 0) 100%), linear-gradient(103.94deg, hsla(265, 60%, 60%, .08) 7.66%, hsla(231, 15%, 31%, .04) 32.57%, hsla(231, 15%, 31%, .04) 72.45%, hsla(326, 100%, 74%, .08) 96.25%);
    --modal-overlay: rgba(33, 34, 44, 0.84);
}