/* Solarized Dark */
:root[data-theme="solarized-dark"] {
    --theme-mode: dark;
    --gray-100-value: 192, 100%, 7%;
    --gray-200-value: 192, 100%, 9%;
    --gray-300-value: 192, 100%, 11%;
    --gray-400-value: 192, 87%, 14%;
    --gray-500-value: 194, 14%, 28%;
    --gray-600-value: 194, 14%, 38%;
    --gray-700-value: 195, 11%, 45%;
    --gray-800-value: 186, 8%, 50%;
    --gray-900-value: 186, 8%, 55%;
    --gray-1000-value: 180, 7%, 67%;
    --blue-100-value: 205, 60%, 9%;
    --blue-200-value: 205, 65%, 12%;
    --blue-300-value: 205, 68%, 16%;
    --blue-400-value: 205, 68%, 22%;
    --blue-500-value: 205, 69%, 34%;
    --blue-600-value: 205, 69%, 43%;
    --blue-700-value: 205, 69%, 49%;
    --blue-800-value: 205, 65%, 42%;
    --blue-900-value: 205, 78%, 60%;
    --blue-1000-value: 205, 80%, 92%;
    --red-100-value: 1, 45%, 9%;
    --red-200-value: 1, 55%, 13%;
    --red-300-value: 1, 60%, 18%;
    --red-400-value: 1, 65%, 24%;
    --red-500-value: 1, 68%, 36%;
    --red-600-value: 1, 70%, 45%;
    --red-700-value: 1, 71%, 52%;
    --red-800-value: 1, 68%, 44%;
    --red-900-value: 1, 78%, 62%;
    --red-1000-value: 1, 80%, 93%;
    --amber-100-value: 40, 70%, 8%;
    --amber-200-value: 40, 80%, 11%;
    --amber-300-value: 42, 88%, 15%;
    --amber-400-value: 43, 92%, 19%;
    --amber-500-value: 44, 96%, 26%;
    --amber-600-value: 45, 100%, 35%;
    --amber-700-value: 45, 92%, 44%;
    --amber-800-value: 45, 90%, 29%;
    --amber-900-value: 42, 94%, 58%;
    --amber-1000-value: 40, 88%, 92%;
    --green-100-value: 148, 52%, 7%;
    --green-200-value: 148, 55%, 9%;
    --green-300-value: 148, 58%, 12%;
    --green-400-value: 148, 60%, 16%;
    --green-500-value: 148, 62%, 21%;
    --green-600-value: 148, 64%, 28%;
    --green-700-value: 148, 56%, 36%;
    --green-800-value: 148, 52%, 30%;
    --green-900-value: 148, 60%, 48%;
    --green-1000-value: 148, 56%, 90%;
    --teal-100-value: 175, 60%, 7%;
    --teal-200-value: 175, 65%, 10%;
    --teal-300-value: 175, 68%, 14%;
    --teal-400-value: 175, 60%, 19%;
    --teal-500-value: 175, 59%, 28%;
    --teal-600-value: 175, 59%, 36%;
    --teal-700-value: 175, 59%, 40%;
    --teal-800-value: 175, 55%, 33%;
    --teal-900-value: 175, 62%, 52%;
    --teal-1000-value: 175, 60%, 90%;
    --purple-100-value: 237, 35%, 9%;
    --purple-200-value: 237, 38%, 13%;
    --purple-300-value: 237, 40%, 17%;
    --purple-400-value: 237, 42%, 23%;
    --purple-500-value: 237, 42%, 35%;
    --purple-600-value: 237, 43%, 48%;
    --purple-700-value: 237, 43%, 60%;
    --purple-800-value: 237, 40%, 50%;
    --purple-900-value: 237, 52%, 70%;
    --purple-1000-value: 237, 60%, 94%;
    --pink-100-value: 331, 38%, 9%;
    --pink-200-value: 331, 44%, 13%;
    --pink-300-value: 331, 50%, 18%;
    --pink-400-value: 331, 55%, 24%;
    --pink-500-value: 331, 58%, 34%;
    --pink-600-value: 331, 62%, 44%;
    --pink-700-value: 331, 64%, 52%;
    --pink-800-value: 331, 60%, 44%;
    --pink-900-value: 331, 68%, 62%;
    --pink-1000-value: 331, 70%, 94%;
    --gray-alpha-100: hsla(192, 100%, 100%, .06);
    --gray-alpha-200: hsla(192, 100%, 100%, .09);
    --gray-alpha-300: hsla(192, 100%, 100%, .13);
    --gray-alpha-400: hsla(192, 100%, 100%, .14);
    --gray-alpha-500: hsla(192, 100%, 100%, .24);
    --gray-alpha-600: hsla(192, 100%, 100%, .51);
    --gray-alpha-700: hsla(192, 100%, 100%, .54);
    --gray-alpha-800: hsla(192, 100%, 100%, .47);
    --gray-alpha-900: hsla(192, 100%, 100%, .61);
    --gray-alpha-1000: hsla(192, 100%, 100%, .92);

    --background-100: #002b36;
    --background-200: #073642;

    --disabled: brightness(0.75);
    --geist-background: radial-gradient(100% 100% at 50% 0, hsla(175, 59%, 40%, .14) 0, hsla(175, 59%, 40%, 0) 100%), linear-gradient(103.94deg, hsla(205, 69%, 49%, .08) 7.66%, hsla(192, 87%, 14%, .04) 32.57%, hsla(192, 87%, 14%, .04) 72.45%, hsla(175, 59%, 40%, .08) 96.25%);
    --modal-overlay: rgba(0, 43, 54, 0.84);
}