/* Solarized Light */
:root[data-theme="solarized-light"] {
    --gray-100-value: 44, 87%, 97%;
    --gray-200-value: 44, 72%, 94%;
    --gray-300-value: 44, 49%, 88%;
    --gray-400-value: 44, 35%, 84%;
    --gray-500-value: 44, 15%, 74%;
    --gray-600-value: 180, 7%, 60%;
    --gray-700-value: 186, 8%, 55%;
    --gray-800-value: 195, 11%, 50%;
    --gray-900-value: 194, 14%, 43%;
    --gray-1000-value: 194, 14%, 30%;
    --blue-100-value: 205, 80%, 97%;
    --blue-200-value: 205, 78%, 95%;
    --blue-300-value: 205, 75%, 92%;
    --blue-400-value: 205, 72%, 86%;
    --blue-500-value: 205, 70%, 74%;
    --blue-600-value: 205, 69%, 60%;
    --blue-700-value: 205, 69%, 49%;
    --blue-800-value: 205, 65%, 41%;
    --blue-900-value: 205, 68%, 34%;
    --blue-1000-value: 205, 60%, 16%;
    --red-100-value: 1, 90%, 97%;
    --red-200-value: 1, 85%, 96%;
    --red-300-value: 1, 80%, 93%;
    --red-400-value: 1, 75%, 88%;
    --red-500-value: 1, 68%, 76%;
    --red-600-value: 1, 70%, 62%;
    --red-700-value: 1, 71%, 52%;
    --red-800-value: 1, 68%, 44%;
    --red-900-value: 1, 62%, 37%;
    --red-1000-value: 1, 48%, 16%;
    --amber-100-value: 44, 100%, 97%;
    --amber-200-value: 44, 100%, 95%;
    --amber-300-value: 44, 95%, 90%;
    --amber-400-value: 44, 90%, 82%;
    --amber-500-value: 44, 85%, 68%;
    --amber-600-value: 44, 90%, 52%;
    --amber-700-value: 45, 100%, 35%;
    --amber-800-value: 45, 90%, 29%;
    --amber-900-value: 18, 78%, 35%;
    --amber-1000-value: 20, 68%, 16%;
    --green-100-value: 68, 90%, 97%;
    --green-200-value: 68, 85%, 95%;
    --green-300-value: 68, 80%, 90%;
    --green-400-value: 68, 75%, 82%;
    --green-500-value: 68, 70%, 68%;
    --green-600-value: 68, 88%, 46%;
    --green-700-value: 68, 100%, 34%;
    --green-800-value: 68, 100%, 27%;
    --green-900-value: 68, 88%, 22%;
    --green-1000-value: 68, 60%, 12%;
    --teal-100-value: 175, 85%, 96%;
    --teal-200-value: 175, 78%, 93%;
    --teal-300-value: 175, 72%, 88%;
    --teal-400-value: 175, 66%, 80%;
    --teal-500-value: 175, 62%, 66%;
    --teal-600-value: 175, 60%, 50%;
    --teal-700-value: 175, 59%, 40%;
    --teal-800-value: 175, 55%, 32%;
    --teal-900-value: 175, 58%, 25%;
    --teal-1000-value: 175, 50%, 12%;
    --purple-100-value: 237, 90%, 98%;
    --purple-200-value: 237, 85%, 97%;
    --purple-300-value: 237, 80%, 94%;
    --purple-400-value: 237, 72%, 88%;
    --purple-500-value: 237, 62%, 78%;
    --purple-600-value: 237, 52%, 66%;
    --purple-700-value: 237, 43%, 60%;
    --purple-800-value: 237, 40%, 50%;
    --purple-900-value: 237, 44%, 41%;
    --purple-1000-value: 237, 60%, 16%;
    --pink-100-value: 331, 95%, 98%;
    --pink-200-value: 331, 88%, 96%;
    --pink-300-value: 331, 82%, 93%;
    --pink-400-value: 331, 76%, 88%;
    --pink-500-value: 331, 70%, 78%;
    --pink-600-value: 331, 66%, 64%;
    --pink-700-value: 331, 64%, 52%;
    --pink-800-value: 331, 60%, 43%;
    --pink-900-value: 331, 58%, 36%;
    --pink-1000-value: 331, 50%, 14%;
    --gray-alpha-100: rgba(0, 0, 0, 0.03);
    --gray-alpha-200: hsla(0, 0%, 0%, 0.06);
    --gray-alpha-300: hsla(0, 0%, 0%, 0.08);
    --gray-alpha-400: hsla(0, 0%, 0%, 0.06);
    --gray-alpha-500: hsla(0, 0%, 0%, 0.17);
    --gray-alpha-600: hsla(0, 0%, 0%, 0.30);
    --gray-alpha-700: hsla(0, 0%, 0%, 0.40);
    --gray-alpha-800: hsla(0, 0%, 0%, 0.46);
    --gray-alpha-900: hsla(0, 0%, 0%, 0.57);
    --gray-alpha-1000: hsla(0, 0%, 0%, 0.88);

    --background-100: #eee8d5;
    --background-200: #fdf6e3;

    --disabled: opacity(0.5);
    --geist-background: radial-gradient(100% 100% at 50% 0, hsla(44, 87%, 94%, .6) 0, hsla(44, 87%, 94%, .8) 100%), linear-gradient(103.94deg, hsla(205, 69%, 49%, .06) 7.66%, hsla(175, 59%, 40%, .04) 32.57%, hsla(175, 59%, 40%, .04) 72.45%, hsla(237, 43%, 60%, .06) 96.25%);
    --modal-overlay: rgba(238, 232, 213, 0.94);
}