.highlighter {
  padding-right: 8px;
  height: 100%;
}
.highlighter * {
  font-size: 10px;
  white-space: break-spaces !important;
  user-select: text !important;
}
.highlighter > pre {
  margin: 0 !important;
}
.group button {
  width: 100%;
}
.actionButtons {
  flex-wrap: wrap;
}
.actionButtons button {
  flex: 1;
}