.layers {
  background-color: var(--gray16);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  border: var(--geist-border);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 128px;
}
.layers * {
  font-size: 12px;
}
.tabs {
  display: flex;
  height: calc(100% - 104px);
  flex-direction: column;
}
.tabs_list {
  align-self: flex-start;
  border: var(--geist-border);
}
.tabs_content code {
  white-space: break-spaces !important;
  overflow-wrap: break-word;
}
.tabs_content::-webkit-scrollbar {
  height: 8px;
  position: absolute;
}

.tabs_content::-webkit-scrollbar-track {
  background-color: #242424;
  border-radius: 10px;
}

.tabs_content::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
.xml {
  height: max-content;
}
.tabs_content {
  height: calc(100% - 96px);
}
.tabs_content pre {
  overflow-y: scroll;
  height: 100%;
}
.root {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.cluster {
  display: flex;
  gap: 12px;
  max-width: 100%;
  overflow: hidden;
  justify-items: stretch;
  flex-wrap: wrap;
}
.cluster img {
  height: 18px;
  width: 18px;
}
.node {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 12px;
  gap: 10px;
  background: var(--geist-background);
  backdrop-filter: brightness(0.01);
  border: var(--geist-border);
  border-radius: var(--border-m);
}
.pod {
  border-radius: var(--border-s);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  width: min-content;
  height: 32px;
  max-width: 100%;
  overflow: hidden;
  gap: 8px;
  border: var(--geist-border);
  font-weight: 400;
  background: var(--gray16);
  width: 100%;
}
.node h6 {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.property {
  white-space: nowrap;
  background: var(--gray24);
  padding: 0 8px;
  text-align: end;
  display: flex;
  height: 32px;
  border-radius: var(--border-s);
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  font-weight: 200;
  font-family: var(--font-mono);
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
  padding: 12px;
}
.hint {
  text-wrap: nowrap;
  padding: 8px 12px;
  width: 100%;
  text-align: end;
  font-size: var(--text-small);
  color: var(--text-dimmed);
  font-family: var(--font-mono);
}
.createNote {
  min-height: 32px;
}
.buttons_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  border-radius: 8px;
  justify-content: flex-end;
}
.loading svg {
  height: 32px;
  width: 32px;
}