.detailed {
  width: 100%;
  background: var(--meta-black);
  border: 1px solid var(--gray-400);
  border-radius: 6px;
  padding: 8px;
}
.detailed .description {
  height: 0px;
  padding-left: 6px;
  transition: all 0.250s var(--transition);
}
.detailed .revealed {
  height: 256px;
  padding-bottom: 32px;
}