.wrapper {
  width: 100%;
  height: 100vh;
}

.block {
  width: 850px;
  height: 70%;
  background-color: var(--background-100);
  border-radius: 1rem;
  border: 1px solid var(--gray-400);
}

.panel {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;  
  border-radius: 1rem;
  padding: 1rem 1.3rem;
}

.action {
  width: 100%;  
  padding: 0 1rem;
}

.iconWrapper {
  border-radius: 1rem;
  border: 1px solid #252525;
  padding: 5px;
  cursor: pointer;
}

.iconWrapper:hover {
  background-color: var(--background-100);
}

.pagination > div {
  width: 24px;
}

.message {
  width: 100%;
  padding: 0 1rem;
  white-space: pre-wrap;
}

.stack, .stackContainer, .footer {
  width: 100%;
}

.footer {
  padding: 1rem 0;
}

.stack > span {
  font-size: 16px;
}

.message > span{
  color: var(--red-900);
  font-size: 16px;
}

.message > p {
  color: var(--red-900); 
}

.stackText {
  width: 100%;
  height: 250px;
  padding: 8px;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--background-200);
  border: 1px solid var(--gray-400);
  border-radius: 6px;
}

.stackItem {
  width: 100%;
  padding: 6px;
}

.stackHeader, .stackPosition {
  width: 100%;
  color: var(--gray-alpha-1000);
}
  
.stackPosition {
  color: var(--gray-alpha-900);
}
