.menu {
  height: 100%;
}
.relative {
  position: relative;
  width: 36px;
}
.file_counter {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(33.3%, 33.3%);
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  padding: 4px;
  font-family: var(--font-mono);
  font-size: 11px;
  pointer-events: none;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden; 
  scrollbar-width: 0px;
  scrollbar-color: transparent transparent;
}
