.main {
  height: 100%;
  border-radius: 0px;
  gap: 8px;
  background: var(--geist-background);
  width: 100%;
  border: none;
}
.background {
  position: absolute;
  height: calc(100% + 3px);
  width: calc(100% + 3px);
  left: -1.5px;
  border-radius: 7px;
  z-index: -1 !important;
  top: -1.25px;
}
.unit {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 8px 12px;
  width: 100%;
  background: var(--soft-black);
  border-radius: var(--border-s);
  border: var(--geist-border);
}
.unit * {
  z-index: 1;
}
.unit svg {
  border-radius: var(--round);
}
.group {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.group p {
  color: var(--text-white);
  font-size: 14px;
  font-weight: 500;
}
.group p.bottom {
  color: var(--text-dimmed);
  font-size: 12px;
  font-weight: 400;
}