.color > div {
  flex-direction: column;
}
.color p {
  text-wrap: nowrap;
}
.save {
  width: min-content;
  align-self: flex-end;
}
.tags {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.group {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.tags .content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex-direction: row;
  max-width: 534px;
}
.trigger {
  width: min-content;
  height: 36px;
}
.trigger:hover {
  border: 1px solid var(--white);
}
.level > div {
  padding: var(--p3) var(--p4);
  flex-direction: row;
  align-items: center;
}
.focus {
  border: 1px solid var(--accent-2);
  background: var(--soft-black);
  color: var(--white);
}
.focus img {
  filter: var(--filter-to-white);
}
.unit {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}
.overview p {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.popover {
  gap: 8px;
  display: flex;
  flex-direction: column;
}