.banner {
  max-height: 50vh;
  overflow-y: auto;
}
.banner::-webkit-scrollbar {
  width: 8px;
}

.banner::-webkit-scrollbar-track {
  background-color: #242424;
  border-radius: 10px;
}

.banner::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
.top {
  display: flex;
  gap: 12px;
}
.top input {
  height: 40px;
}
.avilable_filters {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.filter {
  padding: 8px 24px;
  background: var(--soft-black);
  border: var(--geist-border);
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  border-radius: 6px;
  height: 48px;
}
.static {
  background-color: var(--gray24);
  color: var(--text-dimmed);
}
.filter code {
  font-family: var(--font-mono);
}
.button {
  height: 40px;
  border: 1px solid var(--accent-2);
}
.submit {
  height: 40px;
}