.banner > div {
  gap: 8px !important;
}
.avilable_filters {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.filters {
  overflow-y: auto;
  max-height: 256px;
  border: 1px solid var(--gray-400);
  background-color: var(--meta-black);
  border-radius: 6px;
}
.filters .filter:not(:first-child) {
  border-top: 1px solid var(--gray-400);
}
.filters .filter:not(:nth-last-child(2)) {
  border-bottom: 1px solid var(--gray-400);
}
.filters .toggle:last-child {
  display: none !important;
}
.filter {
  width: 100%;
  padding: 0 2px 0 8px;
  height: 28px;
}
.filter * {
  font-family: var(--font-mono);
  font-size: 13px;
}
.filter hr {
  flex: 1;
}
.delete {
  cursor: pointer;
  height: 24px;
  width: 24px;
  padding: 2px;
}
.bottom {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-end;
}
.toggle {
  margin: 6px 0;
}
.select * {
  font-family: var(--font-mono);
}
.skeleton::after {
  z-index: 2;
}
.preview {
  padding: 8px;
  height: 100%;
  width: 100%;
}
.card {
  background: var(--geist-background);
  border: 1px solid var(--gray-400);
  padding: 8px;
  border-radius: 6px;
}
.key_input {
  flex: 1;
  padding-right: 0;
}
.key_input input {
  padding-right: 38px;
}
.trigger {
  width: 32px;
  height: 30px;
  min-height: unset;
  flex-shrink: 0;
  justify-content: center;
  position: absolute;
  right: 1px;
  border-radius: 0;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid var(--gray-400);
}
.trigger::before {
  content: none;
}
.value > span {
  gap: 16px;
}
.copy {
  position: absolute;
  right: 8px;
  top: 8px;
}