.top {
  display: flex;
  gap: 12px;
}
.avilable_filters {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.filters {
  overflow-y: auto;
  max-height: 256px;
  border: 1px solid var(--gray-400);
  background-color: var(--meta-black);
  border-radius: 6px;
}
.filters .filter:not(:first-child) {
  border-top: 1px solid var(--gray-400);
}
.filters .filter:not(:nth-last-child(2)) {
  border-bottom: 1px solid var(--gray-400);
}
.filters .toggle:last-child {
  display: none !important;
}
.filter {
  width: 100%;
  padding: 0 2px 0 8px;
  height: 28px;
}
.filter * {
  font-family: var(--font-mono);
  font-size: 13px;
}
.filter hr {
  flex: 1;
}
.delete {
  cursor: pointer;
  height: 24px;
  width: 24px;
  padding: 2px;
}
.bottom {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-end;
}
.toggle {
  margin: 6px 0;
}
.preview {
  max-width: 600px;
  word-break: normal;
  background-color: var(--meta-black);
  border: 1px solid var(--gray-400);
  border-radius: 6px;
  padding: 12px;
  min-height: 128px;
}
.select * {
  font-family: var(--font-mono);
}
.preview code {
  font-family: var(--font-mono);
  line-height: 1.3;
  font-size: 11px;
}
.preview code span {
  font-family: var(--font-mono);
  color: var(--text-dimmed);
}
.preview h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}