.date_input_choose_option {
  display: flex;
  align-items: center;
  gap: 8px;
}
.date_input_choose_option p {
  font-size: 14px;
  flex: 1;
  color: var(--text-dimmed);
  transition: all 0.125s var(--transition);
}
.date_input_choose_option p:first-child {
  text-align: right;
}
.date_input_choose_option p:last-child {
  text-align: left;
}
.date_input_choose_option p.selected {
  font-weight: 500;
  color: var(--text-white);
}
.button_group {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.wrapper span {
  font-size: 14px;
  color: var(--text-dimmed);
}
.input_group {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 8px;
}
.button {
  width: 100%;
  justify-content: center;
  font-weight: 400;
}
.banner {
  gap: 8px;
}
.calendar {
  height: 380px;
}