.banner > div:last-child {
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  height: 400px !important;
}
.banner > div:last-child > div {
  top: 24px !important;
  height: calc(100% + 24px) !important;
}
.banner > div:last-child > div > div {
  height: calc(100% + 24px) !important;
}
.fullscreen {
  position: fixed;
  top: 87px;
  left: 87px;
  height: calc(100vh - 173px);
  width: calc(100vw - 173px);
  max-width: unset;
  max-height: unset;
}