.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 64vh;
  padding-right: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: 8px;  
}

.context {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contextHeading {
  display: flex;
  gap: 8px;
  align-items: center;
}
.contextHeading label {
  font-size: 24px;
}
.plugin {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pluginHeading {
  display: flex;
  gap: 8px;
  margin-bottom: 4px;
  align-items: center;
}
.pluginHeading label {
  font-size: 18px;
}
.file {
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.file label {
  white-space: nowrap;
  max-width: calc(100% - 128px);
  text-overflow: ellipsis;
  overflow: hidden;
}
.group {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 16px;
}