.banner {
  max-height: 64vh;
  height: 64vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  overflow: auto;
  padding-right: 10px;
  position: relative;
  border-radius: var(--border-s);
}
.noData {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-mono);
  font-size: 12px;
}
.branch {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px 20px 16px;
  background: var(--geist-background);
  border: var(--geist-border);
  border-radius: var(--border-s);
}
.contextHeading {
  display: flex;
  gap: 8px;
  align-items: center;
}
.contextHeading label {
  font-size: 24px;
}
.pluginHeading {
  display: flex;
  gap: 8px;
  margin-bottom: 4px;
  align-items: center;
}
.pluginHeading label {
  font-size: 18px;
}
.file {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.file label {
  white-space: nowrap;
  max-width: calc(100% - 128px);
  text-overflow: ellipsis;
  overflow: hidden;
}
.group {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 16px;
}
.splitter {
  flex: 1;
}