.banner {
  max-height: 64vh;
  height: 64vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  overflow: auto;
  padding-right: 10px;
  position: relative;
  border-radius: var(--border-s);
  border: 1px solid var(--gray-400);
  background: var(--meta-black);
}
.noData {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-mono);
  font-size: 12px;
}
.branch {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px 20px 16px;
}
.contextHeading {
  display: flex;
  gap: 8px;
  align-items: center;
}
.contextHeading label {
  font-size: 18px;
  font-family: var(--font-mono);
  padding: 4px;
}
.pluginHeading {
  display: flex;
  gap: 8px;
  margin-left: 12px;
  align-items: center;
}
.pluginHeading label {
  font-size: 12px;
  font-family: var(--font-mono);
  max-width: 333px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.file {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.file label {
  white-space: nowrap;
  max-width: calc(100% - 128px);
  text-overflow: ellipsis;
  overflow: hidden;
}
.group {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 16px;
}
.splitter {
  flex: 1;
}