.banner {
  max-height: 64vh;
  height: 64vh;
}
.banner > div {
  overflow: visible;
}
.wrapper {
  height: 100%;
  width: calc(100% + 16px);
  overflow: auto;
  padding-right: 8px;
}
.noData {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-mono);
  font-size: 12px;
}
.branch {
  padding: 8px;
  background: var(--meta-black);
  border: 1px solid var(--gray-400);
  border-radius: 6px;
  width: 100%;
}
.contextHeading label {
  font-size: 16px;
  font-family: var(--font-mono);
  color: var(--text-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 512px;
}
.pluginHeading label {
  font-size: 11px;
  font-family: var(--font-mono);
  color: var(--text-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
.separator {
  width: calc(100% + 16px);
  left: -8px;
  position: relative;
}
.smallButton {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  border-radius: 4px;
} 
.smallButton svg {
  height: 10px;
  width: 10px;
}
.amount {
  border-radius: 4px !important;
  background-color: var(--soft-black);
  border: 1px solid var(--gray-400);
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}