.banner {
  width: 100%;
  height: 100%;
}

.graph {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
  background: var(--geist-background);
  border: var(--geist-border);
  border-radius: 6px;
  padding: 16px 0;
}

.canvas {
  background-color: var(--black);
  border: 1px solid var(--gray-400);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.note {
  width: min-content;
  position: relative;
  overflow: visible;
  border-color: currentColor;
  transform: translateX(-50%);
}

.line {
  width: 1px;
  background-color: currentColor;
  height: 10000px;
  z-index: 0;
  bottom: 0;
  position: absolute;
}