.banner [data-banner-content] {
  gap: 12px !important;
}
.selection {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.context {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.context p {
  flex: 1;
  color: var(--text-dimmed);
  font-weight: 300;
  font-size: 14px;
  transition: all 0.3s var(--transition);
}
.context p:first-child {
  text-align: right;
}
.context p.available {
  color: var(--text-white);
  font-weight: 500;
}
.done {
  align-self: flex-end;
}
.p {
  font-size: 12px;
  padding: 0 12px;
  font-family: var(--font-mono);
}
.bottom {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}
.preview {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.defines {
  padding-right: 12px;
  height: 14px;
  min-height: unset !important;
}
.files {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 384px;
  border-radius: 6px;
  border: 1px solid var(--gray-400);
  background: var(--meta-black);
}
.fill {
  min-height: 64px;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer;
}
.fill div {
  color: var(--text-dimmed);
}
.fill p {
  color: var(--text-dimmed);
  font-family: var(--font-mono);
  font-size: 12px;
}
.filePreview {
  width: 100%;
  max-width: 60vw;
  height: 28px;
  padding-right: 1px;
  background: var(--background-100);
}
.filePreview > svg {
  padding: 6px;
  background: var(--background-200);
  border-right: 1px solid var(--gray-400);
}
.files .filePreview:not(:nth-last-child(2)) {
  border-bottom: 1px solid var(--gray-400);
}
.filePreview *:not(path) {
  font-size: 11px;
  font-family: var(--font-mono);
  color: var(--text-white);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select {
  height: 28px;
  overflow: hidden;
  min-height: unset;
  border: none;
  background: unset;
  border-radius: 2px;
  box-shadow: none !important;
}
.select::before {
  content: none !important;
}
.frame_selector [data-input] {
  flex: 1;
}
.select > button {
  border-radius: 0;
  height: 28px;
}
.weight {
  min-width: 64px;
  max-width: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-dimmed);
  margin-left: 8px;
}
.filename {
  width: 128px;
  overflow: hidden;
  margin-right: 8px;
  flex-shrink: 0;
}
.progress {
  background: var(--meta-black);
  height: 100%;
  width: 100%;
  padding: 8px;
  z-index: 5;
}
.progress .bar {
  background: var(--soft-black);
}
.sr_only {
  height: 0px;
  width: 0px;
  position: absolute;
  overflow: hidden;
  opacity: 0;
}
.frame_selector > div {
  flex: 1 !important;
}
.reset_font * {
  font-family: var(--font-sans) !important;
}