.selection {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.context {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.context p {
  flex: 1;
  color: var(--text-dimmed);
  font-weight: 300;
  font-size: 14px;
  transition: all 0.3s var(--transition);
}
.context p:first-child {
  text-align: right;
}
.context p.available {
  color: var(--text-white);
  font-weight: 500;
}
.trigger {
  height: 32px;
}
.done {
  align-self: flex-end;
}
.p {
  font-size: 12px;
  padding: 0 12px;
  font-family: var(--font-mono);
}
.bottom {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}
.preview {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 600px;
}
.defines {
  padding-right: 12px;
  height: 14px;
  min-height: unset !important;
}
.files {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 3px 0;
  overflow-y: auto;
  max-height: 384px;
  padding-right: 12px;
}
.filePreview {
  border-radius: 4px;
  width: 100%;
  height: 28px;
  border: 1px solid var(--accent-3);
  background: var(--soft-black);
  padding: 0 6px;
}
.filePreview * {
  font-size: 11px;
  font-family: var(--font-mono);
  color: var(--text-white);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.filePreview button[role = 'combobox'] {
  height: 24px;
  overflow: hidden;
  min-height: unset;
  border: none;
}
.filename {
  width: 128px;
  overflow: hidden;
}