.navigation {
  height: 48px;
  padding: 8px;
  border-radius: var(--round);
  background: var(--background-100);
  border: 1px solid var(--gray-400);
}
.content {
  max-width: calc(100% - 90px);
  height: 48px;
  mask-image: linear-gradient(90deg, transparent 0%, #000 25%, #000 75%, transparent 100%);
}
.content canvas {
  cursor: pointer;
  margin-top: 1px;
}

.focus {
  border: 1px solid var(--geist-border);
  box-shadow: 0px 0px 0px 4px #ffffff3d;
}