/* Просто хуита, разрабы дауны, и нужно игнорить фатальную ошибку которую невозможно словить */
iframe#webpack-dev-server-client-overlay{display:none!important}
@font-face {
  font-family: "GeistMono";
  src: local('GeistMono'), url("./font/GeistMono.ttf") format("truetype");
}

@font-face {
  font-family: "GeistSans";
  src: local('GeistSans'), url("./font/GeistVF.ttf") format("truetype");
}

:root[data-theme="dark"] {
  --gray-100-value: 0, 0%, 10%;
  --gray-200-value: 0, 0%, 12%;
  --gray-300-value: 0, 0%, 16%;
  --gray-400-value: 0, 0%, 18%;
  --gray-500-value: 0, 0%, 27%;
  --gray-600-value: 0, 0%, 53%;
  --gray-700-value: 0, 0%, 56%;
  --gray-800-value: 0, 0%, 49%;
  --gray-900-value: 0, 0%, 63%;
  --gray-1000-value: 0, 0%, 93%;
  --blue-100-value: 216, 50%, 12%;
  --blue-200-value: 214, 59%, 15%;
  --blue-300-value: 213, 71%, 20%;
  --blue-400-value: 212, 78%, 23%;
  --blue-500-value: 211, 86%, 27%;
  --blue-600-value: 206, 100%, 50%;
  --blue-700-value: 212, 100%, 48%;
  --blue-800-value: 212, 100%, 41%;
  --blue-900-value: 210, 100%, 66%;
  --blue-1000-value: 206, 100%, 96%;
  --red-100-value: 357, 37%, 12%;
  --red-200-value: 357, 46%, 16%;
  --red-300-value: 356, 54%, 22%;
  --red-400-value: 357, 55%, 26%;
  --red-500-value: 357, 60%, 32%;
  --red-600-value: 358, 75%, 59%;
  --red-700-value: 358, 75%, 59%;
  --red-800-value: 358, 69%, 52%;
  --red-900-value: 358, 100%, 69%;
  --red-1000-value: 353, 90%, 96%;
  --amber-100-value: 35, 100%, 8%;
  --amber-200-value: 32, 100%, 10%;
  --amber-300-value: 33, 100%, 15%;
  --amber-400-value: 35, 100%, 17%;
  --amber-500-value: 35, 91%, 22%;
  --amber-600-value: 39, 85%, 49%;
  --amber-700-value: 39, 100%, 57%;
  --amber-800-value: 35, 100%, 52%;
  --amber-900-value: 39, 90%, 50%;
  --amber-1000-value: 40, 94%, 93%;
  --green-100-value: 136, 50%, 9%;
  --green-200-value: 137, 50%, 12%;
  --green-300-value: 136, 50%, 14%;
  --green-400-value: 135, 70%, 16%;
  --green-500-value: 135, 70%, 23%;
  --green-600-value: 135, 70%, 34%;
  --green-700-value: 131, 41%, 46%;
  --green-800-value: 132, 43%, 39%;
  --green-900-value: 131, 43%, 57%;
  --green-1000-value: 136, 73%, 94%;
  --teal-100-value: 169, 78%, 7%;
  --teal-200-value: 170, 74%, 9%;
  --teal-300-value: 171, 75%, 13%;
  --teal-400-value: 171, 85%, 13%;
  --teal-500-value: 172, 85%, 20%;
  --teal-600-value: 172, 85%, 32%;
  --teal-700-value: 173, 80%, 36%;
  --teal-800-value: 173, 83%, 30%;
  --teal-900-value: 174, 90%, 41%;
  --teal-1000-value: 166, 71%, 93%;
  --purple-100-value: 283, 30%, 12%;
  --purple-200-value: 281, 38%, 16%;
  --purple-300-value: 279, 44%, 23%;
  --purple-400-value: 277, 46%, 28%;
  --purple-500-value: 274, 49%, 35%;
  --purple-600-value: 272, 51%, 54%;
  --purple-700-value: 272, 51%, 54%;
  --purple-800-value: 272, 47%, 45%;
  --purple-900-value: 275, 80%, 71%;
  --purple-1000-value: 281, 73%, 96%;
  --pink-100-value: 335, 32%, 12%;
  --pink-200-value: 335, 43%, 16%;
  --pink-300-value: 335, 47%, 21%;
  --pink-400-value: 335, 51%, 22%;
  --pink-500-value: 335, 57%, 27%;
  --pink-600-value: 336, 75%, 40%;
  --pink-700-value: 336, 80%, 58%;
  --pink-800-value: 336, 74%, 51%;
  --pink-900-value: 341, 90%, 67%;
  --pink-1000-value: 333, 90%, 96%;
  --gray-alpha-100: hsla(0, 0%, 100%, .06);
  --gray-alpha-200: hsla(0, 0%, 100%, .09);
  --gray-alpha-300: hsla(0, 0%, 100%, .13);
  --gray-alpha-400: hsla(0, 0%, 100%, .14);
  --gray-alpha-500: hsla(0, 0%, 100%, .24);
  --gray-alpha-600: hsla(0, 0%, 100%, .51);
  --gray-alpha-700: hsla(0, 0%, 100%, .54);
  --gray-alpha-800: hsla(0, 0%, 100%, .47);
  --gray-alpha-900: hsla(0, 0%, 100%, .61);
  --gray-alpha-1000: hsla(0, 0%, 100%, .92);
  
  --background-100: #0e0e0e;
  --background-200: #000;

  --disabled: brightness(0.75);
  --geist-background: radial-gradient(100% 100% at 50% 0, hsla(0, 0%, 100%, .16) 0, hsla(0, 0%, 100%, 0) 100%), linear-gradient(103.94deg, hsla(0, 0%, 100%, .07) 7.66%, hsla(0, 0%, 100%, .01) 32.57%, hsla(0, 0%, 100%, .01) 72.45%, hsla(0, 0%, 100%, .08) 96.25%);
}

:root[data-theme='light'] {
  --gray-100-value: 0,0%,95%;
  --gray-200-value: 0,0%,92%;
  --gray-300-value: 0,0%,90%;
  --gray-400-value: 0,0%,92%;
  --gray-500-value: 0,0%,79%;
  --gray-600-value: 0,0%,66%;
  --gray-700-value: 0,0%,56%;
  --gray-800-value: 0,0%,49%;
  --gray-900-value: 0,0%,40%;
  --gray-1000-value: 0,0%,9%;
  --blue-100-value: 212,100%,97%;
  --blue-200-value: 210,100%,96%;
  --blue-300-value: 210,100%,94%;
  --blue-400-value: 209,100%,90%;
  --blue-500-value: 209,100%,80%;
  --blue-600-value: 208,100%,66%;
  --blue-700-value: 212,100%,48%;
  --blue-800-value: 212,100%,41%;
  --blue-900-value: 211,100%,42%;
  --blue-1000-value: 211,100%,15%;
  --red-100-value: 0,100%,97%;
  --red-200-value: 0,100%,96%;
  --red-300-value: 0,100%,95%;
  --red-400-value: 0,90%,92%;
  --red-500-value: 0,82%,85%;
  --red-600-value: 359,90%,71%;
  --red-700-value: 358,75%,59%;
  --red-800-value: 358,70%,52%;
  --red-900-value: 358,66%,48%;
  --red-1000-value: 355,49%,15%;
  --amber-100-value: 39,100%,95%;
  --amber-200-value: 44,100%,92%;
  --amber-300-value: 43,96%,90%;
  --amber-400-value: 42,100%,78%;
  --amber-500-value: 38,100%,71%;
  --amber-600-value: 36,90%,62%;
  --amber-700-value: 39,100%,57%;
  --amber-800-value: 35,100%,52%;
  --amber-900-value: 30,100%,32%;
  --amber-1000-value: 20,79%,17%;
  --green-100-value: 120,60%,96%;
  --green-200-value: 120,60%,95%;
  --green-300-value: 120,60%,91%;
  --green-400-value: 122,60%,86%;
  --green-500-value: 124,60%,75%;
  --green-600-value: 125,60%,64%;
  --green-700-value: 131,41%,46%;
  --green-800-value: 132,43%,39%;
  --green-900-value: 133,50%,32%;
  --green-1000-value: 128,29%,15%;
  --teal-100-value: 169,70%,96%;
  --teal-200-value: 167,70%,94%;
  --teal-300-value: 168,70%,90%;
  --teal-400-value: 170,70%,85%;
  --teal-500-value: 170,70%,72%;
  --teal-600-value: 170,70%,57%;
  --teal-700-value: 173,80%,36%;
  --teal-800-value: 173,83%,30%;
  --teal-900-value: 174,91%,25%;
  --teal-1000-value: 171,80%,13%;
  --purple-100-value: 276,100%,97%;
  --purple-200-value: 277,87%,97%;
  --purple-300-value: 274,78%,95%;
  --purple-400-value: 276,71%,92%;
  --purple-500-value: 274,70%,82%;
  --purple-600-value: 273,72%,73%;
  --purple-700-value: 272,51%,54%;
  --purple-800-value: 272,47%,45%;
  --purple-900-value: 274,71%,43%;
  --purple-1000-value: 276,100%,15%;
  --pink-100-value: 330,100%,96%;
  --pink-200-value: 340,90%,96%;
  --pink-300-value: 340,82%,94%;
  --pink-400-value: 341,76%,91%;
  --pink-500-value: 340,75%,84%;
  --pink-600-value: 341,75%,73%;
  --pink-700-value: 336,80%,58%;
  --pink-800-value: 336,74%,51%;
  --pink-900-value: 336,65%,45%;
  --pink-1000-value: 333,74%,15%;
  --gray-alpha-100: rgba(0,0,0,0.05);
  --gray-alpha-200: hsla(0,0%,0%,0.081);
  --gray-alpha-300: hsla(0,0%,0%,0.1);
  --gray-alpha-400: hsla(0,0%,0%,0.08);
  --gray-alpha-500: hsla(0,0%,0%,0.21);
  --gray-alpha-600: hsla(0,0%,0%,0.34);
  --gray-alpha-700: hsla(0,0%,0%,0.44);
  --gray-alpha-800: hsla(0,0%,0%,0.51);
  --gray-alpha-900: hsla(0,0%,0%,0.61);
  --gray-alpha-1000: hsla(0,0%,0%,0.91);

  --background-100: #f0f0f0;
  --background-200: #fff;

  --disabled: opacity(0.5);
  --geist-background: radial-gradient(100% 100% at 50% 0, #ffffff47 0, #ffffff61 100%), linear-gradient(103.94deg, #0000004f 7.66%, #00000029 32.57%, #0000004d 72.45%, #00000029 96.25%);
}
:root {
  --font-mono: "GeistMono", sans-serif !important;
  --font-sans: "GeistSans", sans-serif !important;

  --transition: cubic-bezier(.21, .29, 0, .94);

  --round: 100px;

  --accent: var(--gray-1000);
  --second: var(--gray-900);

  --geist-border: 1px solid hsla(0, 0%, 100%, .07);
  --shadow-border: 0 0 0 1px var(--gray-alpha-400);
  --ring: 0 0 0 1px var(--accent), 0 0 0 4px hsla(0, 0%, 100%, .24);

  --focus-border: 0 0 0 1px var(--gray-alpha-600), 0px 0px 0px 4px hsla(0, 0%, 100%, .24);
  --focus-color: var(--blue-900);
  --shadow-border-inset: inset 0 0 0 1px var(--gray-alpha-400);
  --gray-100: hsla(var(--gray-100-value), 1);
  --gray-200: hsla(var(--gray-200-value), 1);
  --gray-300: hsla(var(--gray-300-value), 1);
  --gray-400: hsla(var(--gray-400-value), 1);
  --gray-500: hsla(var(--gray-500-value), 1);
  --gray-600: hsla(var(--gray-600-value), 1);
  --gray-700: hsla(var(--gray-700-value), 1);
  --gray-800: hsla(var(--gray-800-value), 1);
  --gray-900: hsla(var(--gray-900-value), 1);
  --gray-1000: hsla(var(--gray-1000-value), 1);
  --blue-100: hsla(var(--blue-100-value), 1);
  --blue-200: hsla(var(--blue-200-value), 1);
  --blue-300: hsla(var(--blue-300-value), 1);
  --blue-400: hsla(var(--blue-400-value), 1);
  --blue-500: hsla(var(--blue-500-value), 1);
  --blue-600: hsla(var(--blue-600-value), 1);
  --blue-700: hsla(var(--blue-700-value), 1);
  --blue-800: hsla(var(--blue-800-value), 1);
  --blue-900: hsla(var(--blue-900-value), 1);
  --blue-1000: hsla(var(--blue-1000-value), 1);
  --amber-100: hsla(var(--amber-100-value), 1);
  --amber-200: hsla(var(--amber-200-value), 1);
  --amber-300: hsla(var(--amber-300-value), 1);
  --amber-400: hsla(var(--amber-400-value), 1);
  --amber-500: hsla(var(--amber-500-value), 1);
  --amber-600: hsla(var(--amber-600-value), 1);
  --amber-700: hsla(var(--amber-700-value), 1);
  --amber-800: hsla(var(--amber-800-value), 1);
  --amber-900: hsla(var(--amber-900-value), 1);
  --amber-1000: hsla(var(--amber-1000-value), 1);
  --red-100: hsla(var(--red-100-value), 1);
  --red-200: hsla(var(--red-200-value), 1);
  --red-300: hsla(var(--red-300-value), 1);
  --red-400: hsla(var(--red-400-value), 1);
  --red-500: hsla(var(--red-500-value), 1);
  --red-600: hsla(var(--red-600-value), 1);
  --red-700: hsla(var(--red-700-value), 1);
  --red-800: hsla(var(--red-800-value), 1);
  --red-900: hsla(var(--red-900-value), 1);
  --red-1000: hsla(var(--red-1000-value), 1);
  --green-100: hsla(var(--green-100-value), 1);
  --green-200: hsla(var(--green-200-value), 1);
  --green-300: hsla(var(--green-300-value), 1);
  --green-400: hsla(var(--green-400-value), 1);
  --green-500: hsla(var(--green-500-value), 1);
  --green-600: hsla(var(--green-600-value), 1);
  --green-700: hsla(var(--green-700-value), 1);
  --green-800: hsla(var(--green-800-value), 1);
  --green-900: hsla(var(--green-900-value), 1);
  --green-1000: hsla(var(--green-1000-value), 1);
  --teal-100: hsla(var(--teal-100-value), 1);
  --teal-200: hsla(var(--teal-200-value), 1);
  --teal-300: hsla(var(--teal-300-value), 1);
  --teal-400: hsla(var(--teal-400-value), 1);
  --teal-500: hsla(var(--teal-500-value), 1);
  --teal-600: hsla(var(--teal-600-value), 1);
  --teal-700: hsla(var(--teal-700-value), 1);
  --teal-800: hsla(var(--teal-800-value), 1);
  --teal-900: hsla(var(--teal-900-value), 1);
  --teal-1000: hsla(var(--teal-1000-value), 1);
  --purple-100: hsla(var(--purple-100-value), 1);
  --purple-200: hsla(var(--purple-200-value), 1);
  --purple-300: hsla(var(--purple-300-value), 1);
  --purple-400: hsla(var(--purple-400-value), 1);
  --purple-500: hsla(var(--purple-500-value), 1);
  --purple-600: hsla(var(--purple-600-value), 1);
  --purple-700: hsla(var(--purple-700-value), 1);
  --purple-800: hsla(var(--purple-800-value), 1);
  --purple-900: hsla(var(--purple-900-value), 1);
  --purple-1000: hsla(var(--purple-1000-value), 1);
  --pink-100: hsla(var(--pink-100-value), 1);
  --pink-200: hsla(var(--pink-200-value), 1);
  --pink-300: hsla(var(--pink-300-value), 1);
  --pink-400: hsla(var(--pink-400-value), 1);
  --pink-500: hsla(var(--pink-500-value), 1);
  --pink-600: hsla(var(--pink-600-value), 1);
  --pink-700: hsla(var(--pink-700-value), 1);
  --pink-800: hsla(var(--pink-800-value), 1);
  --pink-900: hsla(var(--pink-900-value), 1);
  --pink-1000: hsla(var(--pink-1000-value), 1);

  --card-padding: 24px;
  --card-gap: 12px;

  --panel-gap: 16px;

  --filter-to-black: brightness(0);
  --filter-to-white: brightness(100);
  --filter-to-e8e8e8: brightness(0.58);

  --ring: 0 0 0 1px var(--accent), 0 0 0 2px hsla(0, 0%, 100%, .24);
}

*::-webkit-scrollbar {
  width: 0px;
}

#root {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

html,
body {
  background: var(--background-200) !important;
  overscroll-behavior-x: none;
}

img {
  -webkit-user-drag: none;
}

*:not(svg, svg *) {
  user-select: none;
  -webkit-user-select: none;
  color: var(--accent);
  font-family: var(--font-sans);
  box-sizing: border-box;
  border: none;
  scrollbar-width: 0px;
  scrollbar-color: var(--background-100);
  scroll-behavior: smooth;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  transition: none;
}

svg {
  flex-shrink: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
  vertical-align: baseline;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  min-height: 100vh;
  line-height: 1;
}
#root {
  transition: transform 0.125s var(--transition), filter 0.125s var(--transition);
}
body[data-scroll-locked='1'] #root {
  transform: scale(0.98);
  filter: var(--disabled);
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.no-scroll {
  overflow: hidden;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: var(--p4);
  height: 64px;
  position: fixed;
  top: 0;
  z-index: 3;
  background: var(--background-100);
  width: 100%;
  padding: var(--p2) var(--p4);
  border-bottom: 1px solid var(--gray-400);
  align-items: center;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  position: absolute;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: var(--background-100);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray-1000);
  border-radius: 4px;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}


/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
.hljs {
  background: white;
  color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #a31515;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag {
  color: #808080;
}

.hljs-attr {
  color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
#root.hidden_toasts section {
  display: none;
}
