.list {
  display: flex;
  width: 410px;
  gap: 8px;
  max-height: calc(128px* 3);
  flex-wrap: wrap;
  overflow: auto;
}
.input {
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: left;
}
